.purple{
background: hsla(312, 66%, 76%, 1);
background: linear-gradient(90deg, hsla(312, 66%, 76%, 1) 0%, hsla(234, 93%, 67%, 1) 100%);
background: -moz-linear-gradient(90deg, hsla(312, 66%, 76%, 1) 0%, hsla(234, 93%, 67%, 1) 100%);
background: -webkit-linear-gradient(90deg, hsla(312, 66%, 76%, 1) 0%, hsla(234, 93%, 67%, 1) 100%);
}

.yellow{
background: hsla(52, 94%, 21%, 1);
background: linear-gradient(90deg, hsla(52, 94%, 21%, 1) 0%, hsla(56, 21%, 52%, 1) 100%);
background: -moz-linear-gradient(90deg, hsla(52, 94%, 21%, 1) 0%, hsla(56, 21%, 52%, 1) 100%);
background: -webkit-linear-gradient(90deg, hsla(52, 94%, 21%, 1) 0%, hsla(56, 21%, 52%, 1) 100%);
}

.turqoise {
background: hsla(186, 100%, 69%, 1);
background: linear-gradient(90deg, hsla(186, 100%, 69%, 1) 0%, hsla(56, 21%, 52%, 1) 100%);
background: -moz-linear-gradient(90deg, hsla(186, 100%, 69%, 1) 0%, hsla(56, 21%, 52%, 1) 100%);
background: -webkit-linear-gradient(90deg, hsla(186, 100%, 69%, 1) 0%, hsla(56, 21%, 52%, 1) 100%);
}

.orange{
background: hsla(33, 94%, 57%, 1);
background: linear-gradient(90deg, hsla(33, 94%, 57%, 1) 0%, hsla(56, 21%, 52%, 1) 100%);
background: -moz-linear-gradient(90deg, hsla(33, 94%, 57%, 1) 0%, hsla(56, 21%, 52%, 1) 100%);
background: -webkit-linear-gradient(90deg, hsla(33, 94%, 57%, 1) 0%, hsla(56, 21%, 52%, 1) 100%);
}

.green {
background: hsla(158, 94%, 49%, 1);
background: linear-gradient(90deg, hsla(158, 94%, 49%, 1) 0%, hsla(56, 21%, 52%, 1) 100%);
background: -moz-linear-gradient(90deg, hsla(158, 94%, 49%, 1) 0%, hsla(56, 21%, 52%, 1) 100%);
background: -webkit-linear-gradient(90deg, hsla(158, 94%, 49%, 1) 0%, hsla(56, 21%, 52%, 1) 100%);
}

.pink {
background: hsla(333, 100%, 53%, 1);
background: linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(56, 21%, 52%, 1) 100%);
background: -moz-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(56, 21%, 52%, 1) 100%);
background: -webkit-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(56, 21%, 52%, 1) 100%);
}

.blue {
background: hsla(217, 100%, 50%, 1);
background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(56, 21%, 52%, 1) 100%);
background: -moz-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(56, 21%, 52%, 1) 100%);
background: -webkit-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(56, 21%, 52%, 1) 100%);
}

.clear yellow {
background: hsla(41, 88%, 75%, 1);
background: linear-gradient(90deg, hsla(41, 88%, 75%, 1) 0%, hsla(56, 21%, 52%, 1) 100%);
background: -moz-linear-gradient(90deg, hsla(41, 88%, 75%, 1) 0%, hsla(56, 21%, 52%, 1) 100%);
background: -webkit-linear-gradient(90deg, hsla(41, 88%, 75%, 1) 0%, hsla(56, 21%, 52%, 1) 100%);
}

.limegreen {
background: hsla(134, 36%, 53%, 1);
background: linear-gradient(90deg, hsla(134, 36%, 53%, 1) 0%, hsla(56, 21%, 52%, 1) 100%);
background: -moz-linear-gradient(90deg, hsla(134, 36%, 53%, 1) 0%, hsla(56, 21%, 52%, 1) 100%);
background: -webkit-linear-gradient(90deg, hsla(134, 36%, 53%, 1) 0%, hsla(56, 21%, 52%, 1) 100%);
}

.bluegray {
background: hsla(203, 69%, 84%, 1);
background: linear-gradient(90deg, hsla(203, 69%, 84%, 1) 0%, hsla(56, 21%, 52%, 1) 100%);
background: -moz-linear-gradient(90deg, hsla(203, 69%, 84%, 1) 0%, hsla(56, 21%, 52%, 1) 100%);
background: -webkit-linear-gradient(90deg, hsla(203, 69%, 84%, 1) 0%, hsla(56, 21%, 52%, 1) 100%);
}

button {
    width: fit-content;
    min-width: 100px;
    height: 45px;
    padding: 8px;
    border-radius: 5px;
    border: 2.5px solid #E0E1E4;
    box-shadow: 0px 0px 20px -20px;
    cursor: pointer;
    background-color: white;
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
    font-family: 'Poppins', sans-serif;
  }
  
  button:hover {
    background-color: #F2F2F2;
    box-shadow: 0px 0px 20px -18px;
  }
  
  button:active {
    transform: scale(0.95);
  }

  
  button {
    font-size: 16px;
    padding: 1em 3.3em;
    cursor: pointer;
    transform: perspective(200px) rotateX(15deg);
    color: white;
    font-weight: 900;
    border: none;
    border-radius: 5px;
    background: linear-gradient(
      0deg,
      rgba(63, 94, 251, 1) 0%,
      rgba(70, 135, 252, 1) 100%
    );
    box-shadow: rgba(63, 94, 251, 0.2) 0px 40px 29px 0px;
    will-change: transform;
    transition: all 0.3s;
    border-bottom: 2px solid rgba(70, 135, 252, 1);
  }
  
  button:hover {
    transform: perspective(180px) rotateX(30deg) translateY(2px);
  }
  
  button:active {
    transform: perspective(170px) rotateX(36deg) translateY(5px);
  }

  .button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 15px 20px;
    background-color: #212121;
    border: none;
    font: inherit;
    color: #e8e8e8;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
    cursor: not-allowed;
    overflow: hidden;
    transition: all 0.3s ease cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button span {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
  }
  
  .button::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    translate: 0 105%;
    background-color: #F53844;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button svg {
    width: 32px;
    height: 32px;
    fill: #F53844;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button:hover {
    animation: shake 0.2s linear 1;
  }
  
  .button:hover::before {
    translate: 0 0;
  }
  
  .button:hover svg {
    fill: #e8e8e8;
  }
  
  @keyframes shake {
    0% {
      rotate: 0deg;
    }
  
    33% {
      rotate: 10deg;
    }
  
    66% {
      rotate: -10deg;
    }
  
    100% {
      rotate: 10deg;
    }
  }
  

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    gap: 8px;
    height: 34px;
    width: 112px;
    border: none;
    background: #ff362b34;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .lable {
    line-height: 20px;
    font-size: 17px;
    color: #FF342B;
    font-family: sans-serif;
    letter-spacing: 1px;
  }
  
  .button:hover {
    background: #ff362b52;
  }
  
  .button:hover .svg-icon {
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(-360deg);
    }
  }
  

  button {
    font-family: PlusJakartaSans, -apple-system, BlinkMacSystemFont, Segoe UI,
      Roboto, Oxygen, Cantarell, Helvetica Neue, Ubuntu, sans-serif;
    font-size: 1rem;
    align-items: center;
    height: 48px;
    border-radius: 0.4rem;
    font-weight: 600;
    padding: 0 1.2rem;
    color: #ddd;
    border: none;
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(143, 142, 142, 0.15) !important;
    background: #000000;
  }
  
  .followers {
    font-size: 0.8rem;
    color: #7f7f7f;
  }
  
  button:hover {
    background: #2b2a2a;
  }
  
 
  button {
    padding: 0.6em 1em;
    border: 4px solid #fa725a;
    transition: ease-in-out 0.3s;
    background-color: transparent;
    color: #fa725a;
    font-weight: bolder;
    font-size: 16px;
   }
   
   button:hover {
    transform: scale(1.2) rotate(10deg);
    background-color: #fa725a;
    color: white;
   }

   .button {
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    cursor: pointer;
    border: 3px solid rgb(255, 239, 94);
    background-color: rgb(255, 239, 94);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.137);
  }
  
  .text {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(27, 27, 27);
    color: white;
  }
  
  .arrow path {
    fill: rgb(19, 19, 19);
  }
  
  .button:hover .arrow {
    animation: slide-in-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @keyframes slide-in-left {
    0% {
      transform: translateX(-8px);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }
  
  .button:active {
    transform: scale(0.97);
  }



  .Btn {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: rgb(27, 27, 27);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
  }
  
  .svgIcon {
    fill: rgb(214, 178, 255);
  }
  
  .icon2 {
    width: 18px;
    height: 5px;
    border-bottom: 2px solid rgb(182, 143, 255);
    border-left: 2px solid rgb(182, 143, 255);
    border-right: 2px solid rgb(182, 143, 255);
  }
  
  .tooltip {
    position: absolute;
    right: -105px;
    opacity: 0;
    background-color: rgb(12, 12, 12);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .2s;
    pointer-events: none;
    letter-spacing: 0.5px;
  }
  
  .tooltip::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: rgb(12, 12, 12);
    background-size: 1000%;
    background-position: center;
    transform: rotate(45deg);
    left: -5%;
    transition-duration: .3s;
  }
  
  .Btn:hover .tooltip {
    opacity: 1;
    transition-duration: .3s;
  }
  
  .Btn:hover {
    background-color: rgb(150, 94, 255);
    transition-duration: .3s;
  }
  
  .Btn:hover .icon2 {
    border-bottom: 2px solid rgb(235, 235, 235);
    border-left: 2px solid rgb(235, 235, 235);
    border-right: 2px solid rgb(235, 235, 235);
  }
  
  .Btn:hover .svgIcon {
    fill: rgb(255, 255, 255);
    animation: slide-in-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-10px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  


  .button {
    --width: 100px;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #222;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s;
  }
  
  .button::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: #555;
    font-size: 0.9rem;
    color: #fff;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
  }
  
  .button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #555;
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }
  
  .button::after,.button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-wrapper,.text,.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
  }
  
  .text {
    top: 0
  }
  
  .text,.icon {
    transition: top 0.5s;
  }
  
  .icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon svg {
    width: 24px;
    height: 24px;
  }
  
  .button:hover {
    background: #222;
  }
  
  .button:hover .text {
    top: -100%;
  }
  
  .button:hover .icon {
    top: 0;
  }
  
  .button:hover:before,.button:hover:after {
    opacity: 1;
    visibility: visible;
  }
  
  .button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }
  
  .button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  }
  

  .rainbow-hover {
    font-size: 16px;
    font-weight: 700;
    color: #ff7576;
    background-color: #2B3044;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 24px;
    position: relative;
    line-height: 24px;
    border-radius: 9px;
    box-shadow: 0px 1px 2px #2B3044,
      0px 4px 16px #2B3044;
    transform-style: preserve-3d;
    transform: scale(var(--s, 1)) perspective(600px)
      rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
    perspective: 600px;
    transition: transform 0.1s;
  }
  
  .sp {
    background: linear-gradient(
        90deg,
        #866ee7,
        #ea60da,
        #ed8f57,
        #fbd41d,
        #2cca91
      );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    display: block;
  }
  
  .rainbow-hover:active {
    transition: 0.3s;
    transform: scale(0.93);
  }
  


  .button {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #34974d;
    background-color: #3aa856;
  }
  
  .button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button .button__text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
  }
  
  .button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #34974d;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button .svg {
    width: 30px;
    stroke: #fff;
  }
  
  .button:hover {
    background: #34974d;
  }
  
  .button:hover .button__text {
    color: transparent;
  }
  
  .button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button:active .button__icon {
    background-color: #2e8644;
  }
  
  .button:active {
    border: 1px solid #2e8644;
  }


  
  
  




 